RewriteEngine on
#RewriteBase /
RewriteRule ^docs/(.+) - [L,NC]
RewriteRule ^r/ - [L,NC]
RewriteRule ^u/ - [L,NC]
RewriteRule ^(.+)/(.+)/(.+)/$ ?repo=$1&nav=$2&o=$3 [L]
RewriteRule ^(.+)/(.+)/$ ?repo=$1&nav=$2 [L]
RewriteRule ^(.+)/$ ?repo=$1 [L]
