html {
    overflow-y: scroll;
}
body { 
    font-family: "Segoe UI", Frutiger,Tahoma,Helvetica,"Helvetica Neue", Arial, sans-serif;
    text-align: center;
    padding: 0;
    margin: 0;
    color: #5b5b5b;
    background-color: #fff;
}
.content {
    text-align: left;
    width: 960px;
    margin: 0 auto;
    padding: 0px 10px;
}
.masthead {
    text-align: left;
    border-bottom: 1px solid #cacaca;
    background-color: #f1f1f1;
    cursor: pointer;
    font-size: 22px;
    font-weight: normal;
    padding: 10px 0px;
    -webkit-box-shadow: 0px 4px 5px rgba(50, 50, 50, 0.33);
    -moz-box-shadow:    0px 4px 5px rgba(50, 50, 50, 0.33);
    box-shadow:         0px 4px 5px rgba(50, 50, 50, 0.33);
}
.masthead a, .masthead a:active {
    float: left;
    color: #398bc5;
    text-decoration: none;
}
.masthead a:hover {
    color: #5b5b5b;
}
.projbar {
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    padding: 0px 0px;
    color: #cacaca;
    letter-spacing: 0;
    line-height: 28px;
    -webkit-font-smoothing: antialiased;
}
.projbar a, .projbar a:active, .projbar a:hover {
    color: #398bc5;
    text-decoration: none;
}
.navbar {
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    padding: 0px 0px;
    color: #cacaca;
    letter-spacing: 0;
    line-height: 28px;
    -webkit-font-smoothing: antialiased;
}
.navbar a, .navbar a:active, .navbar a:hover {
    color: #398bc5;
    text-decoration: none;
}
.loading {
    z-index: 9999;
    background:#fff url('../images/ajax-loader.gif') no-repeat center center;
    border: 1px solid #ddd;
}
.dir_icon {
    background:#fff url('../images/dir_icon.png') no-repeat center center;
}
.file_icon {
    background:#fff url('../images/file_icon.gif') no-repeat center center;
}
.box {
    background-color: #e7eef1;
}
.boxbody {
    color: #23566d;
    padding: 10px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.15);
}
.boxbody ul li a, .boxbody ul li a:visited, .boxbody ul li a:active {
    color: #23566d;
    text-decoration: none;
}
.boxbody ul li a:hover {
    color: #23566d;
    text-decoration: underline;
}
.boxhead {
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 30px;
    font-weight: normal;
    height: auto;
    letter-spacing: 0;
    line-height: 28px;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.2);
    -webkit-font-smoothing: antialiased;
    -webkit-box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow:    0px 2px 0px rgba(0, 0, 0, 0.3);
    box-shadow:         0px 2px 0px rgba(0, 0, 0, 0.3);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.page {
    margin-top: 25px;
}
.left {
    float: left!important;
}
.right {
    float: right!important;
}
.blue {
    color: #66ccff;
}
.red {
    color: #ff3333;
}
.green {
    color: #00cc00;
}
br.clear {
    clear: both;
    height: 0px;
    padding: 0;
    margin: 0;
    line-height: 0px;
    font-size: 0px;
}
span.urlbox {
    display: block;
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #ddd;
    border-style: solid;
    border-width: 1px 0px 1px 1px;
    font-size: 14px;
    font-weight: normal;
    margin: 0px;
    padding: 2px 5px;
    color: gray;
    height: 20px;
    float: right;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
span.urlbox em {
    color: #5b5b5b
}
input.repourl {
    display: block;
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #ddd;
    border-style: solid;
    border-width: 1px;
    color: #666;
    float: right;
    font-family: Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
    font-size: 11px;
    height: 24px;
    padding: 0 5px;
    margin-top: 0px;
    width: 400px;
}
.tabbar {
    margin: 20px 0px;
    padding: 0px;
    width: 100%;
    border-bottom: 1px solid #ddd;
}
#tabs ul {
    display: inline;
    font-family: tahoma,verdana,sans-serif;
    font-size: 15px;
    margin: 0px;
    padding: 0px;
    width: 100%;
}
#tabs li {
    float: left;
    font-size: 14px;
    border-bottom: 1px solid #ddd; 
    list-style-type: none;
    text-align: center;
    margin-right: 4px;
}
#tabs li.active {
    font-weight: bold;
    border-bottom: 1px solid #fff;
}
#tabs li.active a {
    background-color: #fff;
    border-bottom: 1px solid #fff;
    color: #5b5b5b;
}
#tabs a, #tabs a:active {
    position: relative;
    width: 90px;
    margin: 0px 0px -2px 0px;
    float: left;
    background-color: #f5f5f5;
    border-right: 1px solid #ddd;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 5px 4px 5px 10px;
    text-decoration: none;
    /*color: #5b5b5b;*/
    color: #aeaeae;
}
#tabs a:hover {
    color: #5b5b5b;
}
table.browser {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
}
table.browser td, table.browser th {
    text-align: left;
    padding: 5px 5px;
    font-size: 14px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    vertical-align: top;
}
table.browser td a, table.browser td a:visited, table.browser td a:active {
    color: #398bc5;
    text-decoration: none;
}
table.browser td a:hover {
    text-decoration: underline;
}
table.browser th {
    line-height: 28px;
    -webkit-font-smoothing: antialiased;
}
table.browser tbody th {
    width: 300px;
}
.small {
    font-size: 11px !important;
}
.smaller {
    font-size: 9px !important;
}
.footer {
    text-align: left;
    border-top: 1px solid #cacaca;
    border-bottom: 1px solid #cacaca;
    background-color: #f1f1f1;
    cursor: pointer;
    font-size: 11px;
    font-weight: bold;
    padding: 20px 20px;
    margin: 60px 0px 20px 0px;
    min-height: 100px;
    color: #5b5b5b;
}
.footer .section {
    width: 200px;
    margin: 0px 6px;
}
.footer ul {
    margin: 8px 0px;
    border-top: 1px solid #cacaca;
    list-style-type: none;
    padding: 0;
}
.footer ul li {
    font-weight: normal;
    padding: 4px 0px 0px 0px;
    margin: 0px;
}
.footer a, .footer a:active {
    color: #398bc5;
    text-decoration: none;
}
.footer a:hover {
    text-decoration: underline;
}
.subfooter {
    color: #c5c5bf;
    font-size: 12px;
    margin-bottom: 20px;
}
.subfooter .section {
    margin: 0px 6px;
}
.subfooter .stamp {
    font-size: 24px;
}
.gradient_aqua {
    background-color: #496272;
    background: -webkit-linear-gradient(#839BA9,#405A6A);
    background-image: -webkit-linear-gradient(top, #839BA9, #405A6A);
    background: -moz-linear-gradient(#839BA9, #405A6A) repeat scroll 0 0 transparent;
}
.gradient_gray {
    background-color: #f4f4f4;
    background: -webkit-linear-gradient(#fafafa,#eaeaea);
    background-image: -webkit-linear-gradient(top, #fafafa, #eaeaea);
    background: -moz-linear-gradient(#fafafa, #eaeaea) repeat scroll 0 0 transparent;
}
div.fileviewer {
    width: 945px;
    overflow: auto;
    overflow-y: hidden;
    -ms-overflow-y: hidden;
}
div.fileviewer {
    text-align: center;
    margin: 0 auto;
}
pre.prettyprint { /* customizations for pretty-print */
    text-align: left;
    border: 0px solid red;
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    float: left; /* required so line highlighting gets rendered */
    min-width: 99%; /* needed to ensure small code blocks fill the given area (almost)  */
}
.message {
    text-align: center;
    padding: 30px;
    color: #398bc5;
    font-size: 16px;
}
